@model PagedList.PagedList<WebRauTNT.Models.BinhLuan>
@using PagedList.Mvc;
@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; 
}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div style="display: flex; margin-top: 20px; justify-content: space-between">
                <h2>Danh sách bình luận</h2>
                <form>
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Tìm kiếm theo nội dung..." aria-label="Tìm kiếm theo nội dung..." value="@ViewBag.Keyword" name="searchString" aria-describedby="btnNavbarSearch" />
                        <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>

            @*<p>
                    @Html.ActionLink("Tạo bình luận", "Create")
                </p>*@
            <table class="table table-bordered table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Nội dung
                        </th>
                        <th>
                            Mã khách hàng
                        </th>
                        <th>
                            Ngày đăng
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    @foreach (var item in Model)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaBinhLuan }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaBinhLuan }, new { @class = "btn btn-danger", @style = "margin-left:5px" })
            </td>
        </tr>}
                </tbody>
            </table>
            <div style=" margin-bottom:50px;">
                <div>
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                </div>
            </div>
        </div>
    </main>
</div>