@model WebRauTNT.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<link href="~/Content/csslogin/css.css" rel="stylesheet" />
@*<h2>@ViewBag.Title.</h2>*@

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", @style = "width:500px" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-offset-1">
                <div class="signup-form" style="background-color:azure;">
                    <h2 class="text-center">Đăng ký</h2>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger", @style = "font-size: 14px;" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Họ tên", @style = "height:50px" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @style = "height:50px" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu", @style = "height:50px" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Nhập lại mật khẩu", @style = "height:50px" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Số điện thoại", @style = "height:50px" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Địa chỉ", @style = "height:50px" })
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-blue btn-block text-center" value="Đăng ký" style="background-color: #44c5ee" />
                    </div>
                    <div class="form-group text-center">
                        @Html.ActionLink("Đã có tài khoản", "Login", routeValues: null, htmlAttributes: new { @class = "btn-outline-info", @style = "margin-top:10px; font-size: 12px; text-decoration:none;" })
                    </div>
                </div>
            </div>}
    </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
