@using PagedList.Mvc;
@model WebRauTNT.Models.SanPhamDetailModel
@{ ViewBag.Title = "Details";
                Layout = "~/Views/Shared/_Layout.cshtml"; 
 }

<h2 style="color:green; text-align:center">CHI TIẾT SẢN PHẨM</h2>

<!-- Breadcrumb Section Begin -->
@*<section class="breadcrumb-section set-bg" data-setbg="/Content/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Chi tiết sản phẩm</h2>
                    <div class="breadcrumb__option">
                        <a href="/" style="text-decoration:none">Trang chủ</a>
                        <a href="/Sanphams" style="text-decoration:none">Sản phẩm</a>
                        <span>Chi tiết</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="~/@Model.SanPham.Hinh" alt="">
                    </div>
                    
@*                    <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="/Content/img/product/details/product-details-2.jpg"
                                 src="/Content/img/product/details/thumb-1.jpg" alt="">
                            <img data-imgbigurl="/Content/img/product/details/product-details-3.jpg"
                                 src="/Content/img/product/details/thumb-2.jpg" alt="">
                            <img data-imgbigurl="/Content/img/product/details/product-details-5.jpg"
                                 src="/Content/img/product/details/thumb-3.jpg" alt="">
                            <img data-imgbigurl="/Content/img/product/details/product-details-4.jpg"
                                 src="/Content/img/product/details/thumb-4.jpg" alt="">
                    </div>*@
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3 style="font-size:30px">@Model.SanPham.Ten</h3>
                    <div class="product__details__rating">
                        @*<i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>*@
                        <span>(@Model.BinhLuans.Count reviews)</span>
                    </div>
                    <div class="product__details__price">Giá: @String.Format("{0:0,0}", @Model.SanPham.Gia) VNĐ</div>
                    <div style="font-size:18px">Giảm giá: @String.Format("{0:0,0}", @Model.SanPham.GiamGia) VNĐ</div>
                    <div style="font-size:18px">@Model.SanPham.MoTa</div>
                    <div style="font-size:18px">Số lượng còn lại: @Model.SanPham.SoLuong</div>
                    <div style="font-size:18px">Đơn vị tính: @Model.SanPham.DonVi</div>
                    <div style="font-size:18px">Loại sản phẩm: @Model.SanPham.LoaiSP.TenLoai</div>

                    <a href="@Url.Action("ThemGioHang","GioHang", new { @iIdSanPham = Model.SanPham.MaSP , @strURL = Request.Url.ToString() } )" class="primary-btn" style="margin-top:20px; text-decoration: none">Thêm vào giỏ hàng</a>
                    @*@Html.ActionLink("Di den gio hang","GioHang","GioHang")*@
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                            <li>
                                <b>Chia sẻ</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                </div>
            </div>

            <div class="col-lg-12">
                @using (Html.BeginForm())
                {
                     @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="container mt-5">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-8">
                                        <strong style="font-size:20px">Bình Luận</strong>
                                        <div class="card p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="user d-flex flex-row align-items-center">
                                                    <textarea name="txtContent" rows="3" cols="98" style="resize:none;border:none;font-size:14px" placeholder="Hãy để lại cảm nghĩ của bạn về món ăn này nhé!"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <input style="margin: 15px 0px; font-size:18px;font-weight:500;" type="submit" value="Đăng" class="btn btn-warning pull-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>}

                <div class="container mt-5">
                    <div class="row d-flex justify-content-center">

                        <div class="col-md-8">
                            @foreach (var item in Model.BinhLuans.OrderByDescending(e => e.NgayTao))
                            {
                                <div class="card p-3" style="margin-bottom: 20px;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="user d-flex flex-row align-items-center">
                                            <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2">
                                            <span>
                                                <small style="font-size: 16px;" class="font-weight-bold text-primary">@Html.DisplayFor(hoten => item.Name)</small>
                                            </span>
                                        </div> <small style="font-size: 14px;"> @Html.DisplayFor(ngaytao => item.NgayTao)</small>
                                    </div>
                                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                                        <div class="reply px-4" style="font-size: 16px;min-width:100vw;">@Html.DisplayFor(noidung => item.NoiDung)</div>
                                    </div>
                                </div>}
                                            <div class="blog__pagination" style="margin-top: 20px">
                                                Trang @(Model.BinhLuans.PageCount < Model.BinhLuans.PageNumber ? 0 : Model.BinhLuans.PageNumber) / @Model.BinhLuans.PageCount
                                                @Html.PagedListPager(Model.BinhLuans, page => Url.Action("Details", new { page = page }))
                                            </div>
                                        </div>
                                    </div>
                                </div>


                @*<div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                   aria-selected="true">Đánh giá</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                   aria-selected="false">Thông tin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                   aria-selected="false">Nhận xét <span>(1)</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Thông tin sản phẩm</h6>
                                    <p>
                                        <h5>Tên loại sản phẩm: </h5>@Html.DisplayFor(model => model.LoaiSP.TenLoai)
                                    </p>
                                    <p>
                                        <h5>Tên sản phẩm: </h5>@Html.DisplayFor(model => model.Ten)
                                    </p>

                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Nhận xét của khách hàng</h6>
                                    <p>
                                        Rất ngon
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>$(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);

                $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>



